article{
    width: 1140px;
    margin-top: 150px;
    text-align: justify;
} 

article .main{
    width: 1140px;
    margin: 20px;
    font-size: 16pt;
    line-height: 1.5em;
}

article .main .content h2{
    font-size: 24pt;
    padding-left: 20px;
    text-align: left;
}

article .main .content .items h3{
    font-size: 22pt;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-bottom: 2px solid rgb(212, 208, 208);
}

article .main .content .items li{
    width: 80%;
    margin: 20px auto;
    padding-left: 30px;
    list-style-type: circle;
}

